# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache
.npm

# Optional eslint cache
.eslintcache

# MacOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
